@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Serif:wght@600&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "Merriweather", serif;
  color: #fefae0;
  background-color: #283618;
  padding: 50px 0;
  line-height: 1.5;
}


.default-view {
  margin: 0 6% 5px;
}

/*HERO SECTION*/

.intro-grid {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "content1 content2";
  grid-gap: 0px;
  
}
div#content1 h1{
  padding-top: 40px;
  font-size: clamp(2rem, 5vw, 4rem);
}
#content1 p{
  font-size: clamp(1rem, 2vw, 1rem);
}


#content1 {
  grid-area: content1;
  text-align:center;
  background-color: #ACC196
}


.highlight-greetings
{
  color:#e07a5f;
}

#content2 {
padding-top: 20px;
  grid-area: content2;
  background-color: #5e6951;
  text-align: center;

}

.profile-img {
  width: 35vw;
  border-radius: 60%;
}



.contacts
{
  margin-top: 60px;
  background-color: #14080E;
  width: 100%;
  height: 500px;
}
.projects-grid{
  display: grid;
  height:50vh;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 3rem;
}

.project
{
border: 3px solid #14080E;
background-color: #ffffff;  
padding:6px;
}

@media (max-width: 500px) {
  .intro-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content2"
      "content1";
  }
}
