@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap");
body {
  background-color: #fefae0;
}

h1 {
  color: #283618;
  font-family: "Roboto Serif", sans-serif;
  font-size: 60px;
}

h2 {
  color: #dda15e;

  font-family: "Roboto", sans-serif;
  font-size: 60px;
  padding-left: 40px;
}

p {
  font-family: "Roboto", sans-serif;
  color: #fefae0;
  font-size: 25px;
  padding-left: 20px;
}

span#highlight-color {
  color: #fefae0;
}

span#highlight-color:hover {
  color: #ea3546;
}

@media (max-width: 600px) {
  body {
    background-color: #f86624;
  }
}

/* INDEX 1 SETTINGS*/

.intro-grid {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 4;
  background-color: #dda15e;
}

.pepe {
  text-align: center;
  background-color: red;
  margin: 40px;
}

.container {
  text-align: center;
  margin: 40px;
}

.default-width {
}

.profile-img {
  width: 220px;
  border-radius: 80%;
  margin-left: 40px;
}

.social-media {
  margin-top: 1rem;
}

.section-title {
  color: black;
  text-transform: uppercase;
}

/* HIKING HOLLY*/

.hiking-holly-img {
  width: 500px;
}

.project {
  background-color: #f4978e;
  border: 2px solid black;
}

.intro-greeting {
  color: #283618;
  font-family: "Roboto Serif", sans-serif;
  font-size: 20px;
  text-transform: lowercase;
}

.intro-name {
  color: #283618;
  font-family: "Roboto Serif", sans-serif;
  font-size: 30px;
  text-transform: lowercase;
}

.intro-education {
  color: #283618;
  font-family: "Roboto Serif", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
/*

2b2d42 - black
8d99ae - gray
edf2f4 - white
ef233c - red
d90429 - darkred


f9c80e - yellow
f86624 - orange
ea3546 - red
43bccd - teal
*/
